@charset "UTF-8";

body {
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 16px;
  color: #333;
}

a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
