@charset "UTF-8";

body {
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 16px;
  color: #333;
}

a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*------------------
  header
-------------------*/
.header {
  padding: 50px;
}

.header .logo {
  width: 280px;
  margin: 0 auto; /*中央寄せ*/
}

/*------------------
  main-visual
-------------------*/
.main-visual {
  text-align: center; /*画像の中央寄せ*/
}

/*------------------
  global-nav
-------------------*/
.global-nav {
  padding: 40px;
}

.global-nav ul {
  display: flex; /*要素の横並び*/
  justify-content: center; /*左右中央寄せ*/
}

.global-nav ul li {
  font-size: 18px;
  margin-right: 80px;
  letter-spacing: 0.1em; /*文字高さ10%の文字間隔を空ける*/
}

.global-nav ul li:last-child {
  margin-right: 0;
}

/*------------------
  concept
-------------------*/
.concept {
  padding: 50px 0;
}

.concept .img {
  width: 50%;
}

.concept .desc {
  width: 50%;
  padding-right: 20px;
  padding-left: 40px;
}

.concept .subtitle {
  font-size: 16px;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

.concept .title {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #24a8bf;
  margin-bottom: 30px;
}

.concept .text p {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.1em;
}
